 /* 전체 스타일 */
 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     padding-top: 100px;
 }

 /* Header 스타일 */
 header {
     background-image: url(./images/spotlight03.jpg);
     color: #fff;
     padding: 20px;
     position: fixed;
     top: 0;
     /* width: 100% */
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 nav {
    margin-left: 30px;
    cursor: pointer;
 }

 nav span {
    margin-right: 5px;
 }

 /* 로그인 버튼 */
 button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
 .w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

 header h1 {
     margin: 0;
     cursor: pointer;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
 }

 .center{
    margin: 0 auto;
    display: block;
   }
.postcontainer {
    width: 100%;
}

 /* Footer 스타일 */
 footer {
    background-image: url(./images/spotlight03.jpg);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
 }

 /* 스타일링을 위한 CSS 코드를 여기에 작성하세요 */
 .box-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .box {
     width: 45%;
     padding: 10px;
     margin: 10px;
     border-radius: 5px;
     background-color: #f7f7f7;
 }

 .box ul {
     list-style-type: none;
     padding: 0;
 }

 .box li {
     padding: 10px;
     border-bottom: 1px solid #ccc;
     transition: background-color 0.3s;
 }

 .box li:first-child {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .box li:last-child {
     border-bottom: none;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }

 .box li:hover {
     background-color: #e9e9e9;
     cursor: pointer;
 }

 .box li h3,
 .box li small {
     margin: 0;
     padding: 0;
 }