@font-face {
    font-family: 'neon';
    src: url('font/JalnanOTF.otf') format('opentype');
}

/* 전체 스타일 */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    background-image: url("../images/backgroundfull.jpg");
    background-size: cover;
}

/* Header 스타일 */
header {
    background-color: #fff;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: #000;
    padding: 8px;
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 300px;
    margin-left: 20px;
    cursor: pointer;
}

nav {
    margin-left: 30px;
    cursor: pointer;
}

nav span {
    margin-right: 5px;
}

/* 로그인 버튼 */
button {
    margin: 20px;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.signup-container {
    background-color: #fff;
    max-width: 400px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 30px;
}

.signup-container form input {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container form button {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container form button:hover {
    background-color: #555;
}

.signup-container p {
    margin-top: 25px;
}

.signup-container p a {
    color: #333;
}

.signup-container p a:hover {
    text-decoration: underline;
}
